

body {
    background-color: #efeee7;
    font-family: "Georgia", 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}   

header {
    color: 333333;
}

.container {
    background-color: black;
    width: 1024px;
    margin: 0 auto;
}


h1  {
    color: #eee;
    font-size: 28px;
    margin: 0 auto;
    padding: 35px;
    text-align: center;
}

h2  {
    font-size: 24px;
    padding: 35px;
}

/*Add margins to the picture so that there is space between it and the paragraph text*/
#bio-image {
    float: left;
    width: 250px;
    height:150px;
    margin-left: 30px;
    margin-right: 30px;
}

#main-bio {
    width: 70%;
    float: left;
}

#contact-info {
    float: left;
    width: 30%;
    line-height: 36px;
}

.link {
    color: #d21034;
}






